* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

nav ul li {
  list-style: none;
  font-weight: 600;
  font-size: 16px;
}

nav ul li:hover {
  color: blueviolet;
  cursor: pointer;
  transition: 0.2s;
}

#home {
  padding: 30px;
  background-color: blueviolet;
  margin-top: 30px;
  width: 100vw;
  height: 80vh;
}

#home h1 {
  font-size: 170px;
  color: white;
  width: 80%;
}

#home h6 {
  color: white;
  font-size: 20px;
  width: 60%;
  padding-top: 50px;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#about h3 {
  font-size: 70px;
  color: blueviolet;
}

#about p {
  font: 26px;
  text-align: center;
  width: 700px;
  line-height: 30px;
}
